{% extends 'login/base.html' %}

<!-- Page title-->
{% block title %} LOGIN {% endblock %}


   <!--CSS and JS CDN-->
{% load staticfiles  %}
{% block cssfile %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
{% endblock %}
{% block javascript %}

<script>
    $("#id_username").change(function () {
      var username = $(this).val();

      $.ajax({
        url: '/ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.status == 200) {
            alert(" Hello " + data.user);
          }
          else {
            alert("User does not exist")
          }
        }
      });

    });
</script>
{% endblock %}


{% block appnavbar %}
{% endblock %}



{% block body %}
<div class="container">
    <div class="panel panel-info">
      {% load staticfiles  %}
      <div class="panelimage">
          <a href="#"><img src="{% static 'login/images/image.png' %}" class="img-circle"></a>
      </div>

      <div class="panel-heading">Hello User !.. please Login</div><br><br>



        <form class="form-horizontal" action="/action_page.php">

            <div class="form-group">
                <label class="control-label col-sm-4" for="QID">Quicklook:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="Qid" placeholder="QuicklookId" name="Qid">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-4" for="pwd">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                </div>
            </div>
            <br>

            <div class="form-group">
                <!--<div id="loginbutton" class="col-sm-offset-2 col-sm-10">-->
                <div class="col-sm-8">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>

        </form>
      </div>
    </div>
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


{% endblock %}






