thead {
    background: orange;
    color: #fff;
}

.panel {
    position: relative;
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;

}

h3 {
    text-align : center;
}

.panel-body {
    margin-top: 0;
}

.navbar-form {
    align : center;
}